.about {
    text-decoration: underline;
}

/* .hero-shadow {
    box-shadow: 0px 7px 6px #8e8e8e;
} */

.me-img {
    box-shadow: 0px 0px 7px #cccccc;
}

.light-colored-text {
    color: #545454;
    font-weight: 400;
}

/* .layer-effect {
    box-shadow: 0px 
} */